*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: 'Ubuntu', sans-serif;
}
body{
    min-height: 120vh;
    position: relative;
}
nav{
    min-height: 10vh;
    background: rgb(73, 66, 66);
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav a{
    text-decoration: none;
    color: rgb(247, 247, 247);
}
nav h1{
    font-family: 'Great Vibes', cursive;
    font-size: 2rem;
}
.nav-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-container a{
    margin-left: 3rem;
}

.filter-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin: 0rem 3rem;
}

.search{
    flex: 4 0 30rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search input{
    width: 70%;
    height: 100%;
    padding: 0.6rem 0.7rem;
    margin: 1rem 0rem;
    border-radius: 0.5rem 0rem 0rem 0.5rem;
    border: none;
    background: rgb(226, 226, 226);
}
.search input:focus{
    outline: none;
}

.search button{
    padding: 0.6rem 0.7rem;
    background: none;
    border: none;
    border-radius: 0rem 0.5rem 0.5rem 0rem;
    background: rgb(226, 226, 226);
    cursor: pointer;
}

.btn{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.set-btn{
    padding: 0.6rem 0.7rem;
    background: none;
    border: none;
    background: rgb(177, 177, 177);
    border-radius: 0.5rem;
    margin-right: 2rem;
    cursor: pointer;
}

.time{
    flex: 1 0 8rem;
}

.hide-container{
    z-index: 4;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}
.setTimeHidden{
    opacity: 1;
    height: 20rem;
    width: 30rem;
    background: rgb(255, 255, 255);
    box-shadow: 0.3rem 0.3rem 0.5rem rgb(97, 97, 97);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.time-input{
    width: 70%;
    padding: 0.8rem 1rem;
    border-radius: 0.5rem;
    border: none;
    background: rgb(226, 226, 226);
    margin-bottom: 1.5rem;
}

.submit{
    border: none;
    background: none;
    background: rgb(54, 53, 53);
    color: white;
    font-size: 1.1rem;
    margin-top: 1rem;
    padding: 0.5rem 1.3rem;
    transition: all 0.3s ease;
    cursor: pointer;
}

.submit:hover{
    transform: scale(1.1);
    background: rgb(112, 101, 101);
}